<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similarity Analyzer</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/agate.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/languages/python.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .col {
            width: 50%;
            float: left;
        }

        .col2 {
            float: left;
        }

        .colCardsSide {
            width: 25%;
        }

        .colCards {
            width: 70%;
        }

        .colCardsSide2 {
            width: 5%;
        }
    </style>
    <script>
        hljs.highlightAll();
        var codeOne = ''
        var codeTwo = ''
        var fileOneName = ''
        var fileTwoName = ''

        $(document).ready(function () {
            $('#code1').hide();
            $('#code2').hide();
            $('.card1V').hide();
            $('.card2V').hide();
            $('.card0V').hide();

            $('#initiate').click(function (e) {
                $.ajax({
                    url: '/api/fileOne',
                    type: 'POST',
                    data: codeOne,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $.ajax({
                    url: '/api/fileTwo',
                    type: 'POST',
                    data: codeTwo,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $.ajax({
                    url: '/api/astOne',
                    success: function (response) {
                        $('.card1V').show();
                        $('.card1').empty();
                        $('.card1').append(`
                            <h5 class="card-title">${fileOneName} as candidate:</h5>
                            <p class="card-text">${response['lines']}</p>
                            <p class="card-text">${response['length']}</p>
                            <p class="card-text">${response['disSimilarity']}</p>
                            <p class="card-text">${response['probableSimilarity']}</p>
                            <p class="card-text">${response['modify']}</p>
                            <p class="card-text">${response['ratio']} </p> <br>
                            <span>
                                <p class="card-text">${response['index']}</p>
                                <div class="progress">
                                    <div 
                                        class="progress-bar ${response['i'] < 30 ? "bg-success" : response['i'] < 75 ? "bg-warning" : response['i'] > 75 ? "bg-danger" : ""}" 
                                        role="progressbar" style="width: ${response['i']}%" aria-valuenow=${response['i']} aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </span>
                        `)
                        // $('#code1').empty();
                        // $('#code1').append(`${response['tree']}`);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $.ajax({
                    url: '/api/astTwo',
                    success: function (response) {
                        $('.card2V').show();
                        $('.card2').empty();
                        $('.card2').append(`
                            <h5 class="card-title">${fileTwoName} as candidate:</h5>
                            <p class="card-text">${response['lines']}</p>
                            <p class="card-text">${response['length']}</p>
                            <p class="card-text">${response['disSimilarity']}</p>
                            <p class="card-text">${response['probableSimilarity']}</p>
                            <p class="card-text">${response['modify']}</p>
                            <p class="card-text">${response['ratio']} </p> <br>
                            <span>
                                <p class="card-text">${response['index']}</p>
                                <div class="progress">
                                    <div 
                                        class="progress-bar ${response['i'] < 30 ? "bg-success" : response['i'] < 75 ? "bg-warning" : response['i'] > 75 ? "bg-danger" : ""}" 
                                        role="progressbar" style="width: ${response['i']}%" aria-valuenow=${response['i']} aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </span>
                        `)
                        //$('#code2').empty();
                        //$('#code2').append(`${response['tree']}`);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $.ajax({
                    url: '/api/compareNodes',
                    success: function (response) {
                        console.log(response);
                        $('.card0V').show();
                        $('.card0').empty();
                        $('.card0').append(`
                            <h6 class="card-title">Similar looking assignments: ${response['similarAssignments']} %</h6>
                            <h6 class="card-title">Similar looking expressions: ${response['similarExpressions']} %</h6>
                            <h6 class="card-title">Similar looking function calls: ${response['similarFunctions']} %</h6>
                            <h6 class="card-title">Similar looking identifiers and invoked functions: ${response['similarIdentifiers']} %</h6>
                            <h6 class="card-title">Similar looking iterators: ${response['similarIterators']} %</h6>
                        `)
                    },
                    error: function (error) { console.log(error); }
                });
            })

            $('.file1').change(function (e) {
                $('#code1').show();
                var name = e.target.files[0].name;
                $('.name1').text(name);
                file = e.target.files[0]
                fileOneName = name;
                if (file) {
                    var reader = new FileReader();
                    reader.readAsText(file);
                    reader.onload = function (evt) {
                        document.getElementById("code1").innerText = evt.target.result;
                        codeOne = evt.target.result;
                    }
                }
            })

            $('.file2').change(function (e) {
                $('#code2').show();
                var name = e.target.files[0].name;
                $('.name2').text(name);
                file = e.target.files[0]
                fileTwoName = name;
                if (file) {
                    var reader = new FileReader();
                    reader.readAsText(file);
                    reader.onload = function (evt) {
                        document.getElementById("code2").innerText = evt.target.result;
                        codeTwo = evt.target.result;
                    }
                }
            })
        })

    </script>
</head>

<body>
    <div>

        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1 text-center">Code Similarity Analyser</span>
        </nav>

        <br>

        <div>
            <div style="width: 35%; padding-left: 10px;" class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input file1" id="inputGroupFile02" accept=".py">
                    <label class="custom-file-label name1" for="inputGroupFile02">Choose first file</label>
                </div>
            </div>

            <div style="width: 35%; padding-left: 10px;" class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input file2" id="inputGroupFile02" accept=".py">
                    <label class="custom-file-label name2" for="inputGroupFile02">Choose second file</label>
                </div>
            </div>

            <button style=" margin-left: 10px;" type="button" id="initiate" class="btn btn-dark">Compare</button>
        </div>

        <div style="height:50%">
            <div class="col">
                <pre>
                    <code class="language-python" id="code1"></code>
                </pre>
            </div>
            <div class="col">
                <pre>
                    <code class="python" id="code2"></code>
                </pre>
            </div>
        </div>

        <section>
            <div class="col2 colCardsSide"></div>
            <div class="colCards col2" style="margin-left: 15%; padding-right: -50%; display: inline-block;">
                <div>
                    <div class="card bg-light mb-3 card0V">
                        <div class="card-header">Similar looking nodes</div>
                        <div class="card-body card0">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col2 colCardsSide2"></div>
        </section>

        <div style="padding-left: 15%; padding-right: 15%;">
            <div style="display: inline-flex;">
                <div style="padding-right: 10px;">
                    <div class="card bg-light mb-3 card1V">
                        <div class="card-header">Analysis of first AST</div>
                        <div class="card-body card1">

                        </div>
                    </div>
                </div>
                <div style="padding-left: 10px;">
                    <div class="card bg-light mb-3 card2V">
                        <div class="card-header">Analysis of second AST</div>
                        <div class="card-body card2">

                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>